body {
  padding: 50px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(187, 79, 7);
  
  border-color: bisque;
}

a {
  color: #00B7FF;
}

.Message_Block {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin: 5px 0;
  padding: 12px 20px;
  background-color: rgb(223, 131, 70);
  border: 3px solid #070606;
  box-sizing: border-box;
  
}
